.container {background:#c8c8c8;
	position: relative;
	max-width: 1280px;
	width: auto;
	margin: 0 auto;
	padding: 0;
	padding-top:12px;
}
.titleContain {
	font-size: 14px;
	background:#fff;
	width:100%;
	margin:0 auto;
	height:100px;
	padding:20px 0;
}
.clientTitle {
	font-size:36px;
	font-weight:bold;
	float:left;
	position:relative;
	top:25px;
	margin-left:30px;
}
.clientLogo {
	height: 100px;
	width: auto;
	float:right;
	margin-right:30px;
	display:block;
}
.podContainer {clear: both;
	position: relative;
	margin: 0 auto;
	width:1000px;
	padding-bottom: 10px;
}
.pod1, .pod2, .pod3, .pod4, .pod5, .pod6, .pod7, .pod8 {float: left;
	position: relative;
	background-color: #fff;
	margin: 1%;
	width: 27%;
	padding: 20px;
	height: 1020px;
	font-size: 14px;
	border-radius:8px;
}
.podTitle {font-weight:bold;
	font-size:20px;
	margin-bottom:20px;
}
.information {border-bottom:#cecece solid 1px;
	border-top:#cecece solid 1px;
	padding:10px 0;
	margin-bottom:15px;
}
h4 {font-weight:bold;
	margin-bottom:3px;
}
.response {width:99%;
	overflow:hidden;
	text-overflow:ellipsis;

}

@media only screen and (max-width : 1024px) {
	.podContainer {clear: both;
		position: relative;
		margin: 0 auto;
		width:90%;
		padding-bottom: 10px;
	}
	.pod1, .pod2, .pod3, .pod4, .pod5, .pod6, .pod7, .pod8 {
		position: relative;
		width: 42%;
	}
	
}

@media only screen and (max-width : 767px) {
	.pod1, .pod2, .pod3, .pod4, .pod5, .pod6, .pod7, .pod8 {float: none;
		position: relative;
		width: 86%;
		height:auto;
		margin-bottom:15px;
	}
	.clientTitle {
		font-size:36px;
		font-weight:bold;
		float:none;
		position:relative;
		top:0;
		margin-left:30px;
		text-align:center;
	}
	.clientLogo {
		height: auto;
		width: 100px;
		margin:0 auto;
		float:none;
		display:block;
	}
	
}


